<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="logindiv" class="logindiv">
        <form action="">
            <h2>Welcome back</h2><br>
            <span>Email</span><br>
            <input type="email" placeholder="example@123.com"><br><br>

            <span>Password</span><br>
            <input type="password" placeholder="Password is case sensitive"><br><br>

            <button id="signin" class="signin">Sign In</button>
        </form>
    </div>
</body>
</html>