<nav class="navbar">
        <div class="navlinks">
            <a href="/admin-dashboard">Home</a>
            <a href="/all-tasks">Tasks</a>
            <a href="/user-suggestions">Feauture+</a>
            <a href="/topics">Community</a>
        </div>

        <div class="profile">
            <a href="/admin-profile">Profile</a>
        </div>
</nav>