<nav class="navbar">
        <div class="navlinks">
            <a href="">Home</a>
            <a href="">FAQ</a>
            <a href="">About</a>
            <a href="">Add Feauture</a>
        </div>

        <div class="profile">Profile</div>
</nav>