<nav class="navbar">
  <div class="navlinks">
    <a href="/user-home">Home</a>
    <a href="/user-tasks">My Tasks</a>
    <a href="/create-task-view">New Task</a>
    <a href="">About</a>
    <a href="">Add Feauture</a>
  </div>

  <div class="profile">Profile</div>
</nav>
