.greeting-message {
    display: flex;
}

.message {
    font-size: 15px;
}

.greeting-message h4 {
    margin-top: 2px;
    margin-left: 5px;
}

.tasks-container {
    max-width: 600px;
    margin: 10px;   
}

.tasks-container h3, .action {
    margin-left: 10px;
}

.task-div {
    margin-bottom: 10px;
    border: 1px solid slategray;
    border-radius: 2px;
    border-color: rgb(53, 53, 140);
}

h3 {
    margin: 10px;
}

.task-field {
    display: flex;
    margin: 3px 10px;
    
}

.task-label {
    font-weight: bold;
}

.task-value {
    margin-left: 10px
}