@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    padding: 12px;
    background-color: rgb(24, 24, 43);
}

.navlinks a {
    text-decoration: none;
    color: white;
    margin: 12px;
    font-size: 13px;
}

.navlinks a:hover {
    font-size: 14px;
    color: slategray;
    transition: ease-in-out .2s;
}

.profile {
    margin-left: auto;
}

.profile a {
    text-decoration: none;
    color: white;
}

.profile a:hover {
    font-size: 14px;
    color: slategray;
    transition: ease-in-out .2s;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}