.profile-div {
    
}

.profile-field {
    display: flex;
}

.profile-label {
    margin-right: 10px;
    font-weight: bold;
}

.update-details-container {
    background-color: rgb(232, 232, 232);
    max-width: 600px;
    border: 1px solid slategray;
    border-radius: 2px;
    padding: 30px;
}

.update-details-container input {
    outline: none;
    padding: 7px 10px;
    width: 70%;
    border: 1px solid slategray;
    border-radius: none;
}

.update-details-container input:focus {
    border: 1px solid green ;
}

.update-details-container button {
    padding: 9px 15px;
    background-color: rgb(45, 45, 128);
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
