<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/users/head.ejs', { viewCss: '/css/user-home.css' }) %>

<%- include('../../partials/users/nav.ejs') %>

<body>
    <% const greetingMessage = ['Welcome back,', 'Ahoy,', 'Nice to see you again,', 'Guess who is back,', 'Clouds are on the Sky,',
        'Are you even authorized?,'
    ]
        let message = ''
        const random = Math.floor(Math.random()*greetingMessage.length)

        const selected = greetingMessage[random]
        message += selected
    %>
    <div class="greeting-message">
        <div class="message"><%= message %></div>
        <div><h4><%= userDetails.fullName %></h4></div>
    </div><br>
  
    <a href="/user-logout">Log out</a>
</body>
</html>
