<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/users/head.ejs') %>

<%- include('../../partials/users/nav.ejs') %>

<body>
    <h3>Phew! 1 P.M</h3>

    <a href="/user-profile">Profile</a><br><br>
    <a href="/user-logout">Log out</a>
</body>
</html>
