<!DOCTYPE html>
<html lang="en">

<%-  include('../../partials/users/head.ejs', { viewCss: '/css/login.css' } ) %>

<%-  include('../../partials/users/nav.ejs') %>

<body>
    <div id="login-container" class="login-container">
        <form action="/user-registration" method="POST" class="login-form">
            <h2>Sign Up</h2><br>
            <span>Email</span><br>
            <input type="email" id="email" name="email" placeholder="example@123.com"><br><br>

            <span>Password</span><br>
            <input type="password" id="password" name="password" placeholder="Password is case sensitive"><br><br>

            <button id="signin" class="signin">Sign Up</button>
            <p>Already have an account? <a href="/login-page">Log In</a></p>
        </form>
    </div>

    <%- include('../../partials/users/footer.ejs') %>

</body>
</html>